<div class="container main-content pt-4" >
    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                Contact
            </h6>
        </div>
        <div class="description">
            <p>
                <span>Get in touch</span>
            </p>
        </div>
    </div>

    <div class="row contact col-md-12 p-4">
        <div class="aboutMe col-md-5">
            <h4 class="fs-3 mb-4">Feel free to contact me for:</h4>
            <div class="contact-for">
                <ul [ngStyle] = "{'list-style': 'none'}">
                    <li>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                            </svg>
                            <span class="fw-light ps-2">
                                Business
                            </span>
                        </p>   
                    </li>
                    <li>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                            </svg>
                            <span class="fw-light ps-2">
                                Hire Me
                            </span>
                        </p> 
                    </li>
                    <li>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                            </svg>
                            <span class="fw-light ps-2">
                                Freelance Developer
                            </span>
                        </p> 
                    </li>
                </ul>
            </div>

            <app-contact-form></app-contact-form>
        </div>
        <div class="mission col-md-5">
            <h4 class="fs-3 mb-4">Contact info</h4>
            <p class="mb-4 fw-light"><span>
                Feel free to reach out to me. Or better yet, buy me a huge mug of coffee.
            </span></p>

            <p class="mb-4"><span>
                Location:<span class="fw-light"> Nairobi, Kenya.</span>
            </span></p>
            <p class="mb-4"><span>
                Phone: <span class="fw-light"> 0797666771 or 0722586098</span>
            </span></p>
            <p class="mb-4"><span>
                Phone: <span class="fw-light"> <a href=" https://wa.me/+254797666771" style="text-decoration: none;"> Whatsapp me</a></span>
            </span></p>
            <p class="mb-4"><span>
                Email: <span class="fw-light"> geraldmwaweru@gmail.com</span>
            </span></p>
            <p class="mb-4"><span>
                Website: <span class="fw-light"> <a href="" style="text-decoration: none;"> You are here.</a></span>
            </span></p>
        </div>
    </div>
</div>
