<div class="container main-content pt-4" >
    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                AboutMe
            </h6>
        </div>
        <div class="description">
            <p>
                <span>Versatile-Coder</span>
            </p>
        </div>
    </div>

    <div class="row bio col-md-12 p-4">
        <div class="aboutMe col-md-5">
            <h4 class="fs-3">I am a full stack Developer</h4>
            <p class="fw-light">
                <span>Hi guys, I'm popularly known as Gee. I love technology, adventures and football. I get intrigued with computers and tech devices and hence I chose the path of a Software Engineer.</span>
            </p>
            <p class="upTo p-4 btn-up carded fw-light">
                <b class="fs-6 fw-light">So Gee, what are you up to?</b> <br> <span>To stay current on what I'm' doing soon, track my path on Instagram</span> <a routerLink="">@geraldwaweru</a>
            </p>
        </div>
        <div class="mission col-md-5">
            <h4 class="fs-3">Why do i do what i do?</h4>
            <p class="mb-4 fw-light"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perspiciatis voluptatibus debitis omnis soluta cum eveniet ducimus cumque, eius explicabo earum, odit possimus magnam sint aperiam dolorum a. In, beatae!</span></p>
            <div class="downloadCv mt-4">
                <a href="cv/Gerald-Waweru.txt" download>
                    <button class="btn btn-up-lg rounded-pill" style="width: 100%;"><b class="fs-6 fw-light">Downlod CV</b></button>
                </a>
            </div>
        </div>
    </div>

    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                services
            </h6>
        </div>
        <div class="description">
            <p>
                <span>What i do.</span>
            </p>
        </div>
    </div>

    <div class="bio p-4 servicesOffered row col-md-12 mt-4 text-center">
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="../../../assets/illustrations/undraw_programming_re_kg9v (3).svg" alt="web dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Web Development</h4>
                <p class="fw-light"><span>Develop dynamic PWA Web applications that are responsives to small to medium business</span></p>
            </div>
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="../../../assets/illustrations/undraw_mobile_development_re_wwsn (1).svg" alt="Mobile dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Mobile App Development</h4>
                <p class="fw-light"><span>Build smartphone applications to help businesses communicate and engage with consumers in a streamlined manner.</span></p>
            </div>
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="../../../assets/illustrations/undraw_teaching_re_g7e3.svg" alt="Mobile dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Tutoring & Mentoring</h4>
                <p class="fw-light"><span>Do you want to start coding, but you're not certain whether it's for you? Schedule a coaching and mentoring session one-on-one with me</span></p>
            </div>
    </div>

    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                Testimonials
            </h6>
        </div>
        <div class="description">
            <p>
                <span>External References</span>
            </p>
        </div>
    </div>
    <div class="row col-md-12 testimonials mt-4 p-4 mb-4">
        <div class="testimonials-section mt-4">
            <h6 class="fs-4 fw-light text-center mb-4">
                Client Reviews
            </h6>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="../../../assets/images/me1.JPG" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Benson Kariuki</p>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="../../../assets/images/me1.JPG" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Benson Kariuki</p>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="../../../assets/images/me1.JPG" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Benson Kariuki</p>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>

        </div>
        <div class="blogs-section text-white display-5">
            <h6 class="fs-4 fw-light text-center mb-4 mt-4">
                Recent Blogs
            </h6>

            <div class="btn-down p-2 mb-4 carded blog-wrapper pt-3 pb-3" *ngFor = 'let post of myBlogs'>
                <div class="img-wrapper p-2">
                    <img src="../../../assets/images/me7.JPG" alt="Blog Poster" class="img-fluid">
                </div>
                <div class="blog-trancate">
                    <p class="text-muted fw-light"><b><a routerLink="blog/">{{ post.title | truncatePosts }}</a></b></p>
                    <p>{{ post.body | truncatePosts }}</p>
                    <p class="small">
                        <i>
                        {{ post.author }}
                        </i>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="one-on-one mb-4 p-4">
        <h4 class="small fs-5">Book a 1:1 Session</h4>
        <p class="fw-light"><span>
            During a tailored one-on-one mentoring session, let's organise and establish objectives
        </span></p>
        <a href="mentoring-session">
            <div class="btn btn-up-lg rounded-pill mb-4">
                <b class="fs-6 fw-light">
                    Book Now
                </b>
            </div>
        </a>
    </div>
</div>