<div class="container main-content pt-4" >
    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                AboutMe
            </h6>
        </div>
        <div class="description">
            <p>
                <span>Versatile-Coder</span>
            </p>
        </div>
    </div>

    <div class="row bio col-md-12 p-4">
        <div class="aboutMe col-md-5">
            <h4 class="fs-3">I am a full stack Developer</h4>
            <p class="fw-light">
                <span>Hi guys, I'm popularly known as Gee. I convert coffee to code. From a young age, I've been fascinated by how things work, and the logic behind it. This led me to choose the path of a software engineer. I love to dig into existing problems and solve them with modern technology. This for me is a huge opportunity to learn how things work, and moreso how the world works. When I'm not working, you'll find me either drawing or reading books. They tickle my fancy.</span>
            </p>
            <p class="upTo p-4 btn-up carded fw-light">
                <b class="fs-6 fw-light">So Gee, what are you up to?</b> <br> <span>To stay current on personal projects I'm working on, track my path on Instagram</span> <a routerLink="https://www.instagram.com/gerald_waweru/" target="_blank"> @geraldwaweru</a>
            </p>
        </div>
        <div class="mission col-md-5">
            <h4 class="fs-3">Why do i do what i do?</h4>
            <p class="mb-4 fw-light"><span>Well, that is a nice question, and I'm glad you asked it. The answer is straight and simple; to change the world. Cliché, you think? Well, I want to look back in future and say to myself, <strong><i>"I played part in pushing the boundaries of innovation, using technology."</i></strong></span></p>
            <div class="downloadCv mt-4">
                <a href="cv/Gerald-Waweru.txt" download>
                    <button class="btn btn-up-lg rounded-pill" style="width: 100%;"><b class="fs-6 fw-light">Downlod CV</b></button>
                </a>
            </div>
        </div>
    </div>

    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                services
            </h6>
        </div>
        <div class="description">
            <p>
                <span>What i do.</span>
            </p>
        </div>
    </div>

    <div class="bio p-4 servicesOffered row col-md-12 mt-4 text-center">
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="assets/illustrations/undraw_mobile_development_re_wwsn (1).svg" alt="Mobile dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Web Design</h4>
                <p class="fw-light"><span>First impressions matter. There's nothing that keeps clients hooked than a good user interface and a great user experience. I design modern and responsive websites</span></p>
            </div>
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="assets/illustrations/undraw_programming_re_kg9v (3).svg" alt="web dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Web Development</h4>
                <p class="fw-light"><span>I develop dynamic Progressive Web Applications that are responsive, for small to medium business, to suit to your needs</span></p>
            </div>
            
            <div class="p-4 col-md-4 btn-down mb-4 carded">
                <div class="btn-down upper carded p-4 mb-3"><div class="btn-down-lower"><p style="font-size:30px;">
                    <img src="assets/illustrations/undraw_teaching_re_g7e3.svg" alt="Mobile dev" class="img-fluid">
                </p></div></div>
                <h4 class="small fs-5">Tutoring & Mentoring</h4>
                <p class="fw-light"><span>Do you want to start coding, but you're not certain whether it's for you? Schedule a coaching and mentoring session one-on-one with me</span></p>
            </div>
    </div>

    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                Testimonials
            </h6>
        </div>
        <div class="description">
            <p>
                <span>External References</span>
            </p>
        </div>
    </div>
    <div class="row col-md-12 testimonials mt-4 p-4 mb-4">
        <div class="testimonials-section mt-4">
            <h6 class="fs-4 fw-light text-center mb-4">
                Client Reviews
            </h6>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="assets/images/Gaitho.jpg" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Ephantus Gaitho</p>
                    <p>
                        I have known Gerald for over two decades, both on a personal and proffessional level. When it comes to work, he delivers quality work, and on time.
                    </p>
                    <p><small><i>-C.E.O Tehtuh Japan-</i></small></p>
                </div>
            </div>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="assets/images/ben.jpg" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Benson Kariuki</p>
                    <p>
                        I would recomend Gee to any client who needs good, quality work delivered on time.
                    </p>
                    <p><small><i>-Four Seasons ~ Dubai-</i></small></p>
                </div>
            </div>
            <div class="btn-up-color carded testimonials-card mb-4 p-4">
                <div class="img-wrapper">
                    <div class="img-holder-upper btn-up-color mx-auto">
                        <div class="img-holder-inner btn-down">
                            <img src="assets/images/wach.jpg" alt="testimony image" class="img-fluid btn-down">
                        </div>
                    </div>
                </div>
                <div class="testimony-holder ps-4">
                    <p class="fw-bold">Joseph Wachira</p>
                    <p>
                        His work is always top-noch, with great client relationship and a good project develompment process. I would definately recomend him.
                    </p>
                    <p><small><i>-C.E.O Adopt a fish Kenya-</i></small></p>
                </div>
            </div>

        </div>
        <div class="blogs-section text-white display-5">
            <h6 class="fs-4 fw-light text-center mb-4 mt-4">
                Recent Blogs
            </h6>

            <div class="btn-down p-2 mb-4 carded blog-wrapper pt-3 pb-3" *ngFor = 'let post of myBlogs'>
                <div class="img-wrapper p-2">
                    <img src="assets/backgrounds/jessica-irani-sILAaAZbgtw-unsplash.jpg" alt="Blog Poster" class="img-fluid">
                </div>
                <div class="blog-trancate">
                    <p class="text-muted fw-light"><b><a routerLink="blog/">{{ post.title | truncatePosts }}</a></b></p>
                    <p>{{ post.body | truncatePosts }}</p>
                    <p class="small">
                        <i>
                        {{ post.author }}
                        </i>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="one-on-one mb-4 p-4">
        <h4 class="small fs-5">Book a 1:1 Session</h4>
        <p class="fw-light"><span>
            During a tailored one-on-one mentoring session, let's organise and establish objectives
        </span></p>
        <a href="mentoring-session">
            <div class="btn btn-up-lg rounded-pill mb-4">
                <b class="fs-6 fw-light">
                    Book Now
                </b>
            </div>
        </a>
    </div>
</div>