@import '../../../../themingKit/src/main-theme';

.main-content {
    background-color: $gray-100;
    min-height: 100vh;
    @media screen and (min-width: 768px) {
        margin-left: 10px;
    }

    .heading {
        display: flex;
        margin-top: 30px;
        position: relative;
        
        .title-1 {
            width: 30%;
        }
        .description {
            width: 30%;
            position: absolute;
            right: 0px;
        }
    }
    .description-body {
        @media screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    a {
        text-decoration: none;
    }
}