<div class="container pt-4 main-content" >
    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                Resume
            </h6>
        </div>
        <div class="description">
            <p>
                <span>Professional Path</span>
            </p>
        </div>
    </div>

    <div class="row bio col-md-12 p-4">
        <div class="education col-md-5">
            <h4 class="fs-3">Education</h4>
            <div class="carded btn-up p-4 cardHolder mt-4 mb-4">
                <div class="dateCovered p-2 mb-4 btn-down carded">
                    <p class="fw-light text-muted pt-2"><b>
                        2018-2019
                    </b></p>
                </div> <br><br><br>
                <p class="mt-4">
                    <span>
                        Moringa School
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        Programming and Software Development
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        spent over 25000 hours horning my skill. I worked on various projects, using Angular2+, Flask and Django as my frameworks, and JavaScript and Python as my main languages. 
                    </span>
                </p>
            </div>

            <div class="carded btn-up p-4 cardHolder mt-4 mb-4">
                <div class="dateCovered p-2 mb-4 btn-down carded">
                    <p class="fw-light text-muted pt-2"><b>
                        2019-2020
                    </b></p>
                </div><br><br><br>
                <p class="mt-4">
                    <span>
                        DEVC Facebook training with Andela and Open classrooms
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        Javascript Fullstack development
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        I learnt how to work in a team remotely, and worked on various project with my fellow student across Africa. JavaScript and ReactJs were the front-end teachnologies, and NodeJs and Express as the backend.
                    </span>
                </p>
            </div>
            
        </div>
        <div class="experience col-md-5">
            <h4 class="fs-3">Experience</h4>
            <div class="carded btn-up p-4 cardHolder mt-4 mb-4">
                <div class="dateCovered p-2 mb-4 btn-down carded">
                    <p class="fw-light text-muted pt-2"><b>
                        2020-2021
                    </b></p>
                </div><br><br><br>
                <p class="mt-4">
                    <span>
                        Fullstack developer
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        Webcloud Kenya
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        Developed a web application solution using Python Django, to help auctioneers place items for users to bid online.
                    </span>
                </p>
            </div>

            <div class="carded btn-up p-4 cardHolder mt-4 mb-4">
                <div class="dateCovered p-2 mb-4 btn-down carded">
                    <p class="fw-light text-muted pt-2"><b>
                        2021-now
                    </b></p>
                </div><br><br><br>
                <p class="mt-4">
                    <span>
                        Freelance Developer
                    </span>
                </p>
                <p>
                    <span class="fw-light">
                        Worked with a variety of clients on various project both online and in person. I helped them achieve their desired business objectives.
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="heading row pt-4">
        <div class="title-1 btn-up">
            <h6 class="display-6">
                Skills
            </h6>
        </div>
        <div class="description">
            <p>
                <span>2+ years of experience</span>
            </p>
        </div>
    </div>

    <div class="row bio col-md-12 p-4">
        <div class="technical col-md-5 mb-4">
            <h4 class="fs-3 mb-4">Technical Skills</h4>
            <p class="mt-4"><span>
                My main tech stack:
            </span></p>

            <p class="fw-light mt-3">
                <span>
                    Html:5 / css
                </span>
            </p>
            <li class="btn-down">
                <h5 class="javascript btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    JavaScript
                </span>
            </p>
            <li class="btn-down">
                <h5 class="javascript btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Typescript
                </span>
            </p>
            <li class="btn-down">
                <h5 class="typescript btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    NodeJs
                </span>
            </p>
            <li class="btn-down">
                <h5 class="nodejs btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Angular 2+
                </span>
            </p>
            <li class="btn-down">
                <h5 class="angular btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Express
                </span>
            </p>
            <li class="btn-down">
                <h5 class="express btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    MongoDB
                </span>
            </p>
            <li class="btn-down">
                <h5 class="mongo btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Bootstrap
                </span>
            </p>
            <li class="btn-down">
                <h5 class="bootstrap btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Angular Material
                </span>
            </p>
            <li class="btn-down">
                <h5 class="angular btn-down"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Sass
                </span>
            </p>
            <li class="btn-down">
                <h5 class="sass btn-down"><span></span></h5>
            </li>

            <p class="mt-4"><span>
                I also have good experience in:
            </span></p>

            <p class="fw-light mt-3">
                <span>
                    Python
                </span>
            </p>
            <li class="btn-down">
                <h5 class="python btn-down bar"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Flask
                </span>
            </p>
            <li class="btn-down">
                <h5 class="flask btn-down bar"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Django
                </span>
            </p>
            <li class="btn-down">
                <h5 class="django btn-down bar"><span></span></h5>
            </li>

            <p class="fw-light mt-3">
                <span>
                    Postgress and ORM
                </span>
            </p>
            <li class="btn-down">
                <h5 class="postgressOrms btn-down bar"><span></span></h5>
            </li>
            <p class="fw-light mt-3">
                <span>
                    Tailwindcss
                </span>
            </p>
            <li class="btn-down">
                <h5 class="sass btn-down"><span></span></h5>
            </li>

        </div>

        <div class="professional col-md-5">
            <h4 class="fs-3 mb-4">Professional Skills</h4>
            <div class="widget-container">
                <div class="row widget-row p-2 mb-4">
                    <div class="ui-widget">
                        <div class="ui-value">
                            <span class="fs-4">60%</span>
                        </div>
                        <span class="ui-label">Communication</span>
                    </div>
                    <div class="ui-widget">
                        <div class="ui-value">
                            <span class="fs-4">90%</span>
                        </div>
                        <span class="ui-label">Team Work</span>
                    </div>
                </div>
                <div class="row widget-row p-4 mb-4">
                    <div class="ui-widget">
                        <div class="ui-value">
                            <span class="fs-4">
                                70%
                            </span>
                        </div>
                        <span class="ui-label">Project Management</span>
                    </div>
                    <div class="ui-widget">
                        <div class="ui-value">
                            <span class="fs-4">
                                80%
                            </span>
                        </div>
                        <span class="ui-label">Creativity</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Linkedin mb-4 p-4">
        <p class="fw-light"><span>
            View my LinkedIn page
        </span></p>
        <div class="btn btn-up-lg rounded-pill mb-4">
            <a href="https://www.linkedin.com/in/gerald-waweru/" target="_blank">
                <b class="fs-6 fw-light">
                    View profile
                </b>
            </a>
        </div>
    </div>
</div>